.description-container {
  max-width: 1800px;
  width: 97.5%;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  color: #000000;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description-title {
  font-size: 2rem;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
  background: linear-gradient(90deg, rgba(1, 1, 98, 1) 35%, rgba(3, 163, 196, 1) 49%, rgba(2, 2, 85, 1) 62%);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.description-paragraph {
  margin-bottom: 16px;
  font-size: 1.1rem;
  text-align: justify;
  padding-left: 40px;
  padding-right: 40px;
}

/* Additional styling for responsiveness */
@media (max-width: 768px) {
  .description-container {
    padding: 15px;
  }

  .description-title {
    font-size: 1.8rem;
  }

  .description-paragraph {
    font-size: 1rem;
  }
}
