.sap-mod-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  gap: 1.5rem;
  max-width: 1800px;
  width: 97.5%;
  margin: 0 auto;
  margin-bottom: 20px;
  align-items: center; /* Center items horizontally */
}

.sap-mod-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0; 
  margin-bottom: 10px; 
  text-align: center;
  width: 100%; 
}


@media (min-width: 768px) {
  .sap-mod-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Center cards horizontally */
  }

  .sap-mod-card {
    width: 45%; /* Adjust width of cards on larger screens */
    margin: 10px; /* Add some margin between cards */
  }
}

/* Additional styles from your original CSS */
.sap-mod-card {
  flex: 1;
  background-color: #e3e3e3;
  color: black;
  padding: 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  transform: scale(1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.sap-mod-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.sap-mod-button {
  background-color: white;
  color: black;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  transform: scale(1);
  font-size: 1.125rem;
  font-weight: 600;
}

.sap-mod-button:hover {
  background-color: rgba(skyblue, 0.8);
  transform: scale(1.05);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.sap-mod-card-secondary {
  background-color: var(--card);
  color: var(--card-foreground);
}

.sap-mod-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #50edb0;
  transition: background-color 0.3s;
  border-radius: 0.5rem;
  transform: scale(1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.sap-mod-card-content:hover {
  background-color: #50edb0;
  transform: scale(1.05);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.sap-mod-card-content.alt {
  background-color: rgba(var(--muted), 0.8);
}


.sap-mod-note{
  color: red;
  margin-top: 10px;
}