.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  pointer-events: auto;
  
}

.modal-content {
   /* Added opacity for fading */
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  
  position: relative;
  animation: slideDown 0.3s ease-out; 
  /* Set the wooden background as the background image */
  background-image: url('../Logos/ContactForm/backimage2.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  
 
  
  /* Add the students image as a separate layer using ::before */
}

.modal-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-image: url('../Logos/ContactForm/backimage.png');
  background-size: contain; 
  background-position: center bottom; 
  background-repeat: no-repeat;
  z-index: -1; 
   /* Set desired opacity if needed */
  pointer-events: none; /* Prevent interaction with the pseudo-element */
  backdrop-filter: blur(2px);
  
  
}

/* Ensure the rest of the content stays on top */
.modal-content * {
  position: relative;
  z-index: 4; /* Ensures form fields are above the students image */
}


.close-btn-contact {
  position: absolute;
  top: 5px;
  right: 16px;
  font-size: 28px;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn-contact:hover,
.close-btn-contact:focus {
  color: #444;
}

.headinn {
  font-size: 32px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 10px;  
}
.line-separator {
  width: 100%; 
  height: 1px; 
  background-color: #333; 
  margin: 1px;
  margin-bottom: 20px; 
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.contact-form-group label {
  margin-bottom: 5px;
  font-weight: 600;
  text-align: left;
  font-size: 16px; 
  color: #000000; 
}
.contact-form-group input::placeholder {
  color: rgba(0, 0, 0, 0.7); /* Darker placeholder color */
  font-weight: bolder; /* Optional: to make it bolder */
}

.contact-form-group input {
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  background-color: transparent ;
  box-sizing: border-box;
  height: 40px;
  mix-blend-mode: multiply;
  color: #000;
  
}

.submit-btn-contact {
  background-color: #0213ff;
  color: white;
  padding: 12px 0;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 40%;
  text-align: center;
  margin-top: 10px;
  margin-left: 105px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.submit-btn-contact:hover {
  background-color: #111c62;
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
}
