.main-container__marquee {
    display: flex;
    align-items: top;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1800px;
    min-height: 2rem;
    overflow-x: hidden;
    font-family: "Merriweather", serif;
    text-transform: uppercase;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(to right, #9260fc, #739fd2, #5099bb);
    margin: 0 auto;
    z-index: 10;
  }
  
  .main-container__marquee-track {
    display: flex;
    gap: 20px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    user-select: none;
  }
  
  .main-container__marquee-items {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    min-width: 100%;
    animation: marquee 20s linear infinite;
  }
  
  .main-container__marquee-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: auto;
    transition: all 0.1s ease-in-out;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }